<h3>User with email {$email} requested email verification.</h3>
<p>
    If you did not request email verification for ReCodEx please ignore this email.
</p>
<hr />
<p style="word-wrap: break-word; white-space: pre-line; width: 580;">
    You can verify your email by clicking on the following link: <a href="{$link}">{$link}</a>.
    This link will be active until {$expiresAfter}. After that time, you will have to request a new link in the web application.
</p>
