<h3>User {$username} requested password renewal.</h3>
<p>
    If you did not request to change your password in ReCodEx please ignore this email.
</p>
<hr />
<p>
    You can change your password by clicking on this link: <a href="{$link}">{$link}</a>.
    This link will enable you to change your password until {$expiresAfter}. After that time, you will have to request a new link in the web application.
</p>

