<h3>Deadline for assignment '{$assignment}' is near</h3>
<p>
    Your assignment '{$assignment}' in the group '{$group}' has a first deadline on
    {$firstDeadline|date:'j.n.Y H:i'} and a second one on
    {$secondDeadline|date:'j.n.Y H:i'}. This email is just a reminder that these
    dates are nearing and you have not submitted any solution yet.
</p>
<p>
    If you do not want to receive these emails anymore, please update your user
    settings accordingly.
</p>
