<h3>New assignment '{$assignment}' was created</h3>
<p>
    The supervisors in your group '{$group}' have assigned a new exercise '{$assignment}'.
    The due date is {$dueDate|date:'j.n.Y H:i'} and you have {$attempts} attempts.
    You can acquire a maximum of {$points} points.
</p>
<p>
    If you do not want to receive these emails anymore, please update your user
    settings accordingly.
</p>
