<h3>Your submission of exercise '{$assignment}' was evaluated</h3>
<p>
    Some of the supervisors in your group '{$group}' resubmitted your solution of
    exercise '{$assignment}' on {$date|date:'j.n.Y H:i'}.
    Your solution {$status} and gathered {$points} points out of {$maxPoints}.
    Full results of this submission can be found in the appropriate group.
</p>
<p>
    If you do not want to receive these emails anymore, please update your user
    settings accordingly.
</p>
