<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>First deadline</th>
        <th>Second deadline</th>
        <th>Visibility</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$assignments as $assignment">
        {php $language = $assignment->localizedTexts->get($languages[0]) ? $languages[0] : $languages[1]}
        <td>{$assignment->localizedTexts->get($language)->name}</td>
        <td>{$assignment->firstDeadline|date:"d. m. Y"}</td>
        <td>{if $assignment->secondDeadline > $assignment->firstDeadline}{$assignment->secondDeadline|date:"d. m. Y"}{else}x{/if}</td>
        <td>{$assignment->isPublic|booleanify}</td>
        <td><a n:href="ContentItem:chooseAssignment $assignment->id, $assignment->localizedTexts->get($language)->name">choose</a></td>
    </tr>
    </tbody>
</table>